
<div class="alert alert-danger fade show mt-1" role="alert">
    <div class="alert-icon"><i class="flaticon-questions-circular-button"></i></div>
    <div class="alert-text">Bạn không có quyền vào chức năng này </div>    
</div>