@{ 

}

    <div class="card card-custom">
        <!--begin::Header-->
        <div class="card-header py-3">
            <div class="card-title align-items-start flex-column">
                <h3 class="card-label font-weight-bolder text-dark">Thông báo</h3>
                <span class="text-muted font-weight-bold font-size-sm mt-1">Thông tin thông báo</span>
            </div>
            <div class="card-toolbar">

            </div>
        </div>
        <!--end::Header-->
        <!--begin::Body-->
        <div class="card-body">
           
        </div>
        <!--end::Body-->
    </div>