@model GdGiaoDichKhachHangMapModel

  
<div class="card card-custom card-shadowless rounded-top-0">
    <div class="card-body p-0">
        <div class="row justify-content-center py-8 px-8 py-lg-15 px-lg-10">
            <div class="col-xl-12 col-xxl-10">
                <input asp-for="Id" type="hidden" />
<div class="form-group row">
<label class="col-2 col-form-label">ID:</label>
<div class="col-10">
<nop-editor asp-for="ID" />
<span asp-validation-for="ID"></span>
</div>
</div>
<div class="form-group row">
<label class="col-2 col-form-label">KHACH_HANG_ID:</label>
<div class="col-10">
<nop-editor asp-for="KHACH_HANG_ID" />
<span asp-validation-for="KHACH_HANG_ID"></span>
</div>
</div>
<div class="form-group row">
<label class="col-2 col-form-label">GIAO_DICH_ID:</label>
<div class="col-10">
<nop-editor asp-for="GIAO_DICH_ID" />
<span asp-validation-for="GIAO_DICH_ID"></span>
</div>
</div>
<div class="form-group row">
<label class="col-2 col-form-label">DICH_VU_ID:</label>
<div class="col-10">
<nop-editor asp-for="DICH_VU_ID" />
<span asp-validation-for="DICH_VU_ID"></span>
</div>
</div>
<div class="form-group row">
<label class="col-2 col-form-label">KHACH_HANG_CHINH:</label>
<div class="col-10">
<nop-editor asp-for="KHACH_HANG_CHINH" />
<span asp-validation-for="KHACH_HANG_CHINH"></span>
</div>
</div>
            </div>
        </div>
    </div>
</div>

