@model String
<div class="input-group">
    <div class="input-group-prepend"><span class="input-group-text"><i class="la la-phone"></i></span></div>
    <input asp-for="@Model" type="text" class="form-control" placeholder="Số điện thoại" aria-describedby="basic-addon1" aria-invalid="false">
</div>
