@model MarMaGiamGiaModel

  
<div class="card card-custom card-shadowless rounded-top-0">
    <div class="card-body p-0">
        <div class="row justify-content-center py-8 px-8 py-lg-15 px-lg-10">
            <div class="col-xl-12 col-xxl-10">
                <input asp-for="Id" type="hidden" />
<div class="form-group row">
<label class="col-2 col-form-label">ID:</label>
<div class="col-10">
<nop-editor asp-for="ID" />
<span asp-validation-for="ID"></span>
</div>
</div>
<div class="form-group row">
<label class="col-2 col-form-label">MA:</label>
<div class="col-10">
<nop-editor asp-for="MA" />
<span asp-validation-for="MA"></span>
</div>
</div>
<div class="form-group row">
<label class="col-2 col-form-label">MARKETING_ID:</label>
<div class="col-10">
<nop-editor asp-for="MARKETING_ID" />
<span asp-validation-for="MARKETING_ID"></span>
</div>
</div>
<div class="form-group row">
<label class="col-2 col-form-label">NGAY_CAP:</label>
<div class="col-10">
<nop-editor asp-for="NGAY_CAP" />
<span asp-validation-for="NGAY_CAP"></span>
</div>
</div>
<div class="form-group row">
<label class="col-2 col-form-label">NGAY_SU_DUNG:</label>
<div class="col-10">
<nop-editor asp-for="NGAY_SU_DUNG" />
<span asp-validation-for="NGAY_SU_DUNG"></span>
</div>
</div>
<div class="form-group row">
<label class="col-2 col-form-label">KHACH_HANG_ID:</label>
<div class="col-10">
<nop-editor asp-for="KHACH_HANG_ID" />
<span asp-validation-for="KHACH_HANG_ID"></span>
</div>
</div>
<div class="form-group row">
<label class="col-2 col-form-label">DOANH_NGHIEP_ID:</label>
<div class="col-10">
<nop-editor asp-for="DOANH_NGHIEP_ID" />
<span asp-validation-for="DOANH_NGHIEP_ID"></span>
</div>
</div>
<div class="form-group row">
<label class="col-2 col-form-label">NGAY_TAO:</label>
<div class="col-10">
<nop-editor asp-for="NGAY_TAO" />
<span asp-validation-for="NGAY_TAO"></span>
</div>
</div>
<div class="form-group row">
<label class="col-2 col-form-label">NGUOI_TAO:</label>
<div class="col-10">
<nop-editor asp-for="NGUOI_TAO" />
<span asp-validation-for="NGUOI_TAO"></span>
</div>
</div>
            </div>
        </div>
    </div>
</div>

