<a href="/CRM/Home/ExportDataExcel">get data</a>

<a href="/CRM/Home/ExportDataLinq">get data linq</a>

<a href="/CRM/Home/ExportDataChuyenDi">get data chuyen di</a>

<div>
    <span class='switch switch-outline switch-icon switch-primary'>
        <label>
            <input type='checkbox' checked='checked' name='select'>
        </label>
    </span>
</div>