@model DvDieuChinhGiaSearchModel
@{
    //page title
    ViewBag.Title =T("CRM.CRM.CRM.DvDieuChinhGia").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("CRM.CRM.DvDieuChinhGia");
}

<nop-antiforgery-token />
<div class="subheader py-2 py-lg-4 subheader-transparent" id="kt_subheader">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <div class="d-flex align-items-center flex-wrap mr-2">
            <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">
                @ViewBag.Title
            </h5>

            <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-5 bg-gray-200"></div>

            <div class="d-flex align-items-center" id="kt_subheader_search">
                <form class="ml-5">
                    <div class="input-group input-group-sm input-group-solid" style="max-width: 175px">
                        <input type="text" class="form-control" id="KeySearch" placeholder="Từ khóa tìm kiếm...">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <span class="svg-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24"></rect>
                                            <path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                                            <path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" fill="#000000" fill-rule="nonzero"></path>
                                        </g>
                                    </svg>
                                </span>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="d-flex align-items-center">
            <a asp-action="Create" class="btn btn-light-primary font-weight-bold btn-sm px-4 font-size-base ml-2">
                <i class="flaticon2-add"></i>
                Thêm mới
            </a>
        </div>
    </div>
</div>

<div class="d-flex flex-column-fluid">
    <div class="container">
        <div class="kt-portlet__body">
            @await Html.PartialAsync("Table", new DataTablesModel
                  {
                      Name = "items-grid",
                      UrlRead = new DataUrl("List", "DvDieuChinhGia", null),
                      SearchButtonId = "search-items",
                      Length = Model.PageSize,
                      LengthMenu = Model.AvailablePageSizes,
                      Filters = new List<FilterParameter>
                      {
                          new FilterParameter(nameof(Model.KeySearch))
                      },
                      ColumnCollection = new List<ColumnProperty>
                      {
new ColumnProperty(nameof(DvDieuChinhGiaModel.ID))
{
Title = "ID",
 },
new ColumnProperty(nameof(DvDieuChinhGiaModel.NGAY_DIEU_CHINH))
{
Title = "NGAY_DIEU_CHINH",
 },
new ColumnProperty(nameof(DvDieuChinhGiaModel.DICH_VU_ID))
{
Title = "DICH_VU_ID",
 },
new ColumnProperty(nameof(DvDieuChinhGiaModel.GIA_BAN_BUON))
{
Title = "GIA_BAN_BUON",
 },
new ColumnProperty(nameof(DvDieuChinhGiaModel.GIA_BAN_LE))
{
Title = "GIA_BAN_LE",
 },
new ColumnProperty(nameof(DvDieuChinhGiaModel.GIA_1))
{
Title = "GIA_1",
 },
new ColumnProperty(nameof(DvDieuChinhGiaModel.GIA_2))
{
Title = "GIA_2",
 },
new ColumnProperty(nameof(DvDieuChinhGiaModel.GIA_3))
{
Title = "GIA_3",
 },
new ColumnProperty(nameof(DvDieuChinhGiaModel.NGAY_TAO))
{
Title = "NGAY_TAO",
 },
new ColumnProperty(nameof(DvDieuChinhGiaModel.NGUOI_TAO))
{
Title = "NGUOI_TAO",
 },
                        new ColumnProperty(nameof(DvDieuChinhGiaModel.Id))
                          {
                              Title = T("Admin.Common.Edit").Text,
                              Width = "120",
                              ClassName =  NopColumnClassDefaults.Button,
                              Render = new RenderButtonEdit(new DataUrl("Edit"))
                          }
                      }
                  })
        </div>
    </div>
</div>



