@model DanhBaDienThoaiModel

@{
    var randomNumber = CommonHelper.GenerateRandomInteger();
}
<div class="ListSoDienThoai" data-idSoDienThoai="@randomNumber" id="divDanhBa_@randomNumber">
    <input asp-for="SoDienThoaiId" type="hidden" id="Id_@randomNumber"/>
    <div class="form-group row">
        <label class="col-2 col-form-label">Nhóm danh bạ</label>
        <div class="col-4">
            <nop-select asp-for="NHOM_DANH_BA" asp-items="Model.DDLNhomSoDienThoai" id="NHOM_DANH_BA_@randomNumber" />
        </div>
        <label class="col-2 col-form-label">Số điện thoại</label>
        <div class="col-3">
            <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text"><i class="la la-phone"></i></span></div>
                <input asp-for="SO_DIEN_THOAI" id="SO_DIEN_THOAI_@randomNumber" type="text" class="form-control" placeholder="Số điện thoại" aria-describedby="basic-addon1" aria-invalid="false">
            </div>
            @*<nop-editor asp-for="SO_DIEN_THOAI" asp-id="SO_DIEN_THOAI_@randomNumber" />*@
        </div>
        <div class="col-1">
            <a href="javascript:xoaSoDienThoai(@randomNumber)" class="btn btn-light-danger font-weight-bold mr-2 btn-sm">
                <span class="svg-icon svg-icon-primary svg-icon-2x">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect x="0" y="0" width="24" height="24" />
                            <path d="M6,8 L18,8 L17.106535,19.6150447 C17.04642,20.3965405 16.3947578,21 15.6109533,21 L8.38904671,21 C7.60524225,21 6.95358004,20.3965405 6.89346498,19.6150447 L6,8 Z M8,10 L8.45438229,14.0894406 L15.5517885,14.0339036 L16,10 L8,10 Z" fill="#000000" fill-rule="nonzero" style="fill: rgb(205, 13, 13) !important;"></path>
                            <path d="M14,4.5 L14,3.5 C14,3.22385763 13.7761424,3 13.5,3 L10.5,3 C10.2238576,3 10,3.22385763 10,3.5 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z" fill="#000000" opacity="0.3" />
                        </g>
                    </svg>
                </span>
            </a>
        </div>
    </div>
</div>