@model MarMaGiamGiaModel

<nop-antiforgery-token />
<div class="content d-flex flex-column flex-column-fluid">
    <div class="container row">
        <input asp-for="MarketingId" type="hidden" />
        <label class="col-3 col-form-label">Nhóm khách hàng</label>
        <div class="col-9">
            <nop-select asp-for="NhomKhachHangSelectedId" asp-items="Model.DDLNhomKhachHang" asp-multiple="true" />
        </div>
        <div class="col-3"></div>
        <div class="col-9">
            <div class="checkbox-inline">
                <label class="checkbox">
                    @Html.CheckBoxFor(m => m.Random)
                    <span></span>
                </label>
                <label class="col-form-label">Gửi ngẫu nhiên nếu số phiếu ít hơn số khách hàng</label>
            </div>
        </div>
        <div class="col-12 mb-10 border-top mt-10"></div>
        <div class="col-12" style="text-align:center">
            <button id="btnSaveHangKhachHang" class="btn btn-light-primary">Xác nhận</button>
        </div>
    </div>
</div>

<script>
    $("#btnSave").click(function () {
        var _data = {
            MarketingId: $("#MarketingId").val(),
            NhomKhachHangSelectedId: $("#NhomKhachHangSelectedId").val(),
            Random: $("#Random").val()
        };
        addAntiForgeryToken(_data);
        $.ajax({
            cache: false,
            type: "POST",
            url: "@(Url.Action("_TangTheoNhomKhachHang", "MarMarketing"))",
            data: _data,
            success: function (data, textStatus, jqXHR) {
                if (data.IsSuccess) {
                    ShowSuccess(data.Message);
                    CloseModalManual();
                } else {
                    display_valid_error(data.Message);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                display_valid_error(data.ObjectInfo);
            }
        });
    })
</script>
