@model MarMaGiamGiaModel

<nop-antiforgery-token />
<div class="content d-flex flex-column flex-column-fluid">
    <div class="container row">
        <input asp-for="MarketingId" type="hidden" />
        <label class="col-3 col-form-label">Khách hàng</label>
        <div class="col-9">
            <nop-select asp-for="KhachHangSelectedId" asp-items="Model.DDLKhachHang" asp-multiple="true" />
        </div>
        <div class="col-12 mb-10 border-top mt-10"></div>
        <div class="col-12" style="text-align:center">
            <button id="btnSaveHangKhachHang" class="btn btn-light-primary">Xác nhận</button>
        </div>
    </div>
</div>

<script>
    function formatRepoSelection(repo) {
        return repo.full_name || repo.text;
    }

    $("#KhachHangSelectedId").select2({
        placeholder: "Search for git repositories",
        allowClear: true,
        ajax: {
            url: "@(Url.Action("_LoadMultiSelectKhachHang", "MarMarketing"))",
            dataType: 'json',
            delay: 250,
            data: function (params) {
                return {
                    q: params.term,
                    page: params.page
                };
            },
            processResults: function (data, params) {
                params.page = params.page || 1;

                return {
                    results: data.items,
                    pagination: {
                        more: (params.page * 30) & lt; data.total_count
                    }
                };
            },
            cache: true
        },
        escapeMarkup: function (markup) {
            return markup;
        },
        minimumInputLength: 1,
        templateResult: formatRepo,
        templateSelection: formatRepoSelection
    });

    function formatRepo(repo) {
        if (repo.loading) return repo.text;
        var markup = "&lt;div class='select2-result-repository clearfix'&gt;" +
            "&lt;div class='select2-result-repository__meta'&gt;" +
            "&lt;div class='select2-result-repository__title'&gt;" + repo.full_name + "&lt;/div&gt;";
        if (repo.description) {
            markup += "&lt;div class='select2-result-repository__description'&gt;" + repo.description + "&lt;/div&gt;";
        }
        markup += "&lt;div class='select2-result-repository__statistics'&gt;" +
            "&lt;div class='select2-result-repository__forks'&gt;&lt;i class='fa fa-flash'&gt;&lt;/i&gt; " + repo.forks_count + " Forks&lt;/div&gt;" +
            "&lt;div class='select2-result-repository__stargazers'&gt;&lt;i class='fa fa-star'&gt;&lt;/i&gt; " + repo.stargazers_count + " Stars&lt;/div&gt;" +
            "&lt;div class='select2-result-repository__watchers'&gt;&lt;i class='fa fa-eye'&gt;&lt;/i&gt; " + repo.watchers_count + " Watchers&lt;/div&gt;" +
            "&lt;/div&gt;" +
            "&lt;/div&gt;&lt;/div&gt;";
        return markup;
    }

    $("#btnSaveHangKhachHang").click(function () {
        var _data = {
            MarketingId: $("#MarketingId").val(),
            KhachHangSelectedId: $("#KhachHangSelectedId").val()
        };
        addAntiForgeryToken(_data);
        $.ajax({
            cache: false,
            type: "POST",
            url: "@(Url.Action("_TangTheoNhomKhachHang", "MarMarketing"))",
            data: _data,
            success: function (data, textStatus, jqXHR) {
                if (data.IsSuccess) {
                    ShowSuccess(data.Message);
                    CloseModalManual();
                } else {
                    display_valid_error(data.Message);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                display_valid_error(data.ObjectInfo);
            }
        });
    });
</script>