@model MarMaGiamGiaModel

<nop-antiforgery-token />
<div class="content d-flex flex-column flex-column-fluid">
    <div class="container row">
        <input asp-for="MarketingId" type="hidden" />
        <label class="col-3 col-form-label">Khách hàng</label>
        <div class="col-9">
            <select class="js-example-data-ajax form-control" id="KhachHangSelectedId">
            </select>
        </div>
        <div class="col-12 mb-10 border-top mt-10"></div>
        <div class="col-12" style="text-align:center">
            <button id="btnSaveHangKhachHang" class="btn btn-light-primary">Xác nhận</button>
        </div>
    </div>
</div>

<script>
    function formatRepoSelection(repo) {
        return repo.full_name || repo.text;
    }

    $("#KhachHangSelectedId").select2({
        placeholder: "Search for git repositories",
        allowClear: true,
        ajax: {
            url: "@(Url.Action("_LoadMultiSelectKhachHang", "MarMarketing"))",
            dataType: 'json',
            delay: 250,
            data: function (params) {
                return {
                    q: params.term,
                    page: params.page
                };
            },
            processResults: function (data, params) {
                params.page = params.page || 1;

                return {
                    results: data.items,
                    pagination: {
                        more: (params.page * 30) > data.total_count
                    }
                };
            },
            cache: true
        },
        escapeMarkup: function (markup) {
            return markup;
        },
        minimumInputLength: 1,
        templateResult: formatRepo,
        templateSelection: formatRepoSelection
    });

    function formatRepo(repo) {
        if (repo.loading) {
            return repo.text;
        }

        var $container = $(
            "<div class='select2-result-repository clearfix'>" +
            "<div class='select2-result-repository__avatar'><img src='" + repo.owner.avatar_url + "' /></div>" +
            "<div class='select2-result-repository__meta'>" +
            "<div class='select2-result-repository__title'></div>" +
            "<div class='select2-result-repository__description'></div>" +
            "<div class='select2-result-repository__statistics'>" +
            "<div class='select2-result-repository__forks'><i class='fa fa-flash'></i> </div>" +
            "<div class='select2-result-repository__stargazers'><i class='fa fa-star'></i> </div>" +
            "<div class='select2-result-repository__watchers'><i class='fa fa-eye'></i> </div>" +
            "</div>" +
            "</div>" +
            "</div>"
        );

        $container.find(".select2-result-repository__title").text(repo.full_name);
        $container.find(".select2-result-repository__description").text(repo.description);
        $container.find(".select2-result-repository__forks").append(repo.forks_count + " Forks");
        $container.find(".select2-result-repository__stargazers").append(repo.stargazers_count + " Stars");
        $container.find(".select2-result-repository__watchers").append(repo.watchers_count + " Watchers");

        return $container;
    }

    $("#btnSaveHangKhachHang").click(function () {
        var _data = {
            MarketingId: $("#MarketingId").val(),
            KhachHangSelectedId: $("#KhachHangSelectedId").val()
        };
        addAntiForgeryToken(_data);
        $.ajax({
            cache: false,
            type: "POST",
            url: "@(Url.Action("_TangTheoNhomKhachHang", "MarMarketing"))",
            data: _data,
            success: function (data, textStatus, jqXHR) {
                if (data.IsSuccess) {
                    ShowSuccess(data.Message);
                    CloseModalManual();
                } else {
                    display_valid_error(data.Message);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                display_valid_error(data.ObjectInfo);
            }
        });
    });
</script>