@model MarMarketingModel
@{
    //page title
    ViewBag.Title = T("CRM.CRM.CRM.MarMarketing").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Marketing.DanhSach");
}

<nop-antiforgery-token />
<div class="d-flex flex-column-fluid">
    <div class="container">
        <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
            <div class="subheader py-2 py-lg-4 subheader-transparent" id="kt_subheader">
                <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
                    <div class="d-flex align-items-center flex-wrap mr-2">
                        <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">
                            Thêm mới @ViewBag.Title
                        </h5>
                        <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-5 bg-gray-200"></div>
                        <div class="d-flex align-items-center" id="kt_subheader_search">
                            <span class="text-dark-50 font-weight-bold" id="kt_subheader_total">Nhập thông tin chi tiết và nhấn lưu</span>
                        </div>
                    </div>

                    <div class="d-flex align-items-center">
                        <a asp-action="List" class="btn btn-default font-weight-bold btn-sm px-3 font-size-base">
                            <i class="la la-long-arrow-left"></i>
                            Trở lại danh sách
                        </a>
                        <a class="btn btn-success btn-bold" id="BtnSaveMarketing">
                            <i class="flaticon2-hourglass-1"></i>
                            Lưu
                        </a>
                    </div>
                </div>
            </div>

            @await Html.PartialAsync("_CreateOrUpdate", Model)

        </div>
    </div>
</div>

<script>
    $("#BtnSaveMarketing").click(function () {
        $('#BtnSaveMarketing').attr('disabled', true);
        var _listDieuKienAp = [];
        $(".ListDieuKienApDung").each(function () {
            var idDieuKienApDung = $(this).attr("data-idDieuKienApDung");
            var _dieuKienApDung = {
                DichVuId: $("#DichVuId_" + idDieuKienApDung).val(),
                SoLuong: $("#SoLuong_" + idDieuKienApDung).val(),
                DonViTinh: $("#DonViTinh_" + idDieuKienApDung).val(),
                Sale: $("#Sale_" + idDieuKienApDung).val(),
                TuNgay: $("#TuNgay_" + idDieuKienApDung).val(),
                DenNgay: $("#DenNgay_" + idDieuKienApDung).val(),
                TuGio: $("#TuGio_" + idDieuKienApDung).val(),
                DenGio: $("#DenGio_" + idDieuKienApDung).val(),
                DonGia: $("#DonGia_" + idDieuKienApDung).val()
            };
            _listDieuKienAp.push(_dieuKienApDung);
        });

        var _data = {
            TEN: $("#TEN").val(),
            MarketingHeThongs: $("#MarketingHeThongs").val(),
            ListDieuKien: _listDieuKienAp
        };
        addAntiForgeryToken(_data);
        $.ajax({
            type: "POST",
            url: "@Url.Action("Create", "MarMarketing")",
            data: _data,
            success: function (data, textStatus, jqXHR) {
                if (data.IsSuccess) {
                    ShowSuccess(data.Message);
                    window.location.href = "/CRM/MarMarketing/List";
                } else {
                    display_valid_error(data.ObjectInfo);
                }
            }
        });
    });
</script>